body{

background-color: lightgray;
color: black;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;


}
nav{
	/* background:  #DB0247; */
}
footer{
  background: #97C750;

}
#login{

  width: 300px;


}

#team{

border-radius: 14px;;
padding: 5px;
width: 150px;
height: 130px;

}

h4{

	font-family: cursive;
	color: white;
}

h4:hover{

	color:#97C750;
}

.border{

	border-radius: 30%;
	height: auto;
	box-shadow: 2px 2px 4px 4px black;
	width: 400px;
}

a :hover{

	color: red;
}

li a :hover{

	color:#97C750;
}


 a:hover{

   color: red;

}
