body{

background-color: lightgray;
color: black;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;


}

 .jumbotron{
background-image: url("img/logo4.png");
background-repeat: no-repeat;
background-position:center;
background-size: cover;
height: 270px;
margin: 0;



}
#bioimage img:hover{
  opacity: 0.7;

}

/* HOVER BUTTON dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

/* button hover ends here... */

#leftcol{

  box-shadow: 2px 1px 0 3px #8DC750;

}


.dark-mode {
  background-color: black;
  color: white;
}



i{

	color: pink;
}

#login{

  width: 300px;


}


div.rotate_right {

  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(6deg); /* Safari */
  transform: rotate(5deg);
}

div.rotate_left {

  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}



/* slide navabar*/

.sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:left;
  opacity: 0.7;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}



.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* overlay here..... */

#container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;

}

.overlay {
  position: absolute;
  bottom: 2px;
  background: red;
  background: gray; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 12px;
  padding: 12px;
  text-align: center;
  border-radius: 3%;
  box-shadow: 2px 2px 5px 1px black;
}

#container:hover .overlay {
  opacity: 0.8;
  background: black;
}


/* flip cart animation */


div.back{

transform:rotateY(90deg);

}
 div.front{
position: absolute;
/* transform: rotateY(90deg) */

}
.panels:hover div.front{
  animation: flip 0.2s ease-in  forwards;

}
.panels:hover div.back{
  /* background: black;
  opacity: 0.6;
  color: white; */
  animation: flip 0.2s 0.2s ease-out forwards reverse;

}
@keyframes flip {
  0%{transform:rotateY(0deg)}
  100%{transform:rotateY(90deg)}

}


/* Navbarr */




/* @ navs i one....subnav */
